@font-face {
    font-family: 'ITC Charter';
    src: url('/fonts/ITC-Charter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'ITC Charter', serif;
  }